<% @title = "About" %>
<content>
	<sidebar>
		<a href="#feature_1"><p>FEATURE 1</p></a>
		<a href="#feature_2"><p>FEATURE 2</p></a>
		<a href="#feature_3"><p>FEATURE 3</p></a>
		<a href="#feature_4"><p>FEATURE 4</p></a>
	</sidebar>
	<div class="main">
		<a name="feature_1"></a>
		<p>Feature 1 Text.  Lorem ipsum dolor sit amet, dicis Deducitur potest ei Taliarchum in, deponiturque itaque sed quod non dum. Sed esse deprecor cum autem illud cenam inhaeret Visceribusque esocem manibus individuationis quod eam in. Verena animo lugubrem via mihi quidditas patria navem causa sed quod eam sed. Secundis est in lucem exitum atque album Apolloni sed, ipsum se in fuerat construeret cena.</p>
		<a name="feature_2"></a>
		<p>Feature 2 Text. Lorem ipsum dolor sit amet, eiusdem ea complacuit. Conservus mihi cum unde non potentiae quem acceperat utique dolorem in rei exultant deo. Audiens per te ad per te ad per. Rationem superius dixisti 'membris data profectus ait.</p>
		<a name="feature_3"></a>
		<p>Feature 3 Text. Lorem ipsum dolor sit amet, lucina! Jesus Circumdat flante vestibus introivit filiam vel, contine inauditas actualitas tuae illa caelum ut a. Multa dolores forma ait Cumque hoc contra me vero quo accumsan in fuerat est cum. Filiae gloriam virginis instaret dolores meae sit in fuerat accidens suos Tyrium coniugem flebant Tharsiam.</p>
		<a name="feature_4"></a>
		<p>Feature 4 Text. Lorem ipsum dolor sit amet, omnia claustrum Bone de me naufragus qui a. Famuli sed haec aliquam inlido laetare quod non coepit dies recessissent fit ecclesiam consuetudinem viginti. Theophilum suum in fuerat se vero cum unde beata inter autem est se vero quo! Iriure dolore obiectum ait mea Christianis aedificatur ergo Apollonius ut sua in rei completo litus vita Apolloni figitur acquievit.</p>
	</div>
<content>
