<content>
	<p class="slider-test">SLIDER BLOCK GOES HERE</p>
	<p class="home-block">Welcome to the contracts and other documents buildr for Watershed Legal Services<p>
	<p class="home-block">This is a test application that has been developed in concert with our sister firm, Watershed Platforms, LLC<p>
	<p class="home-block">You should be using this project for these reasons: (1), (2), (3).</p>
<content>